In [2]:
%config Completer.use_jedi = False #this is command used for enable autocompletion in jupyt notebook

In [3]:
import pandas as pd

In [4]:
data= pd.read_excel('car_data.xlsx')

In [5]:
data

     buying   maint  doors persons lug_boot saftey  class
0      vhigh  vhigh      2       2    small    low  unacc
1      vhigh  vhigh      2       2    small    med  unacc
2      vhigh  vhigh      2       2    small   high  unacc
3      vhigh  vhigh      2       2      med    low  unacc
4      vhigh  vhigh      2       2      med    med  unacc
...      ...    ...    ...     ...      ...    ...    ...
1723     low    low  5more    more      med    med   good
1724     low    low  5more    more      med   high  vgood
1725     low    low  5more    more      big    low  unacc
1726     low    low  5more    more      big    med   good
1727     low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [6]:
data.describe()

       buying  maint  doors persons lug_boot saftey  class
count     1728  1728   1728    1728     1728   1728   1728
unique       4     4      4       3        3      3      4
top        low   low  5more    more      big    low  unacc
freq       432   432    432     576      576    576   1210

In [9]:
data.index

RangeIndex(start=0, stop=1728, step=1)

In [10]:
data.index

RangeIndex(start=0, stop=1728, step=1)

In [11]:
[data.index]

[RangeIndex(start=0, stop=1728, step=1)]

In [13]:
dftype(data)

NameError: name 'dftype' is not defined

In [14]:
type(data)

pandas.core.frame.DataFrame

In [15]:
data.columns

Index(['buying ', 'maint', 'doors', 'persons', 'lug_boot', 'saftey', 'class'], dtype='object')

In [16]:
data['buying ']

0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
        ...
1723      low
1724      low
1725      low
1726      low
1727      low
Name: buying , Length: 1728, dtype: object

In [17]:
df.types

NameError: name 'df' is not defined

In [20]:
data.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
saftey      object
class       object
dtype: object

In [21]:
data.dtypes=='object'

buying      True
maint       True
doors       True
persons     True
lug_boot    True
saftey      True
class       True
dtype: bool

In [ ]:
df[]