In [ ]:
a= 10

In [ ]:
a

In [ ]:
a = 20

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = "sudh"

In [ ]:
type(b)

In [ ]:
c = 'sudh'

In [ ]:
c

In [ ]:
b

In [ ]:
type(c)

In [ ]:
a = 10 
b = 20
a+b

In [ ]:
a*b

In [ ]:
f = 45.67

In [ ]:
type(f)

In [ ]:
c = 7+8j

In [ ]:
type(c)

In [ ]:
c

In [ ]:
c.real

In [ ]:
c.imag

In [ ]:
s = "sudh"

In [ ]:
1 +1

In [ ]:
1+ "sudh"

In [ ]:
"1" + "sudh"

In [ ]:
str(1)+"sudh"

In [ ]:
s = "sudh kumar"

In [ ]:
s

In [ ]:
s[0]

In [ ]:
s[8]

In [ ]:
s[90]

In [ ]:
s[-2]

In [ ]:
s[0:4]

In [ ]:
s[5:90]

In [ ]:
s[0:10:2]

In [ ]:
s[::2]

In [ ]:
s[::3]

In [ ]:
s[0::2]

In [ ]:
s[0::-1]

In [ ]:
s[::-1]

In [ ]:
s[0:5:-1]

In [ ]:
s[0:10:-1]

In [ ]:
s[5:1:1]

In [ ]:
s[5:1:-1]

In [ ]:
s[::-1]

In [ ]:
s

In [ ]:
s[5:1:-1]

In [ ]:
s[5:-1:-1]

In [ ]:
s= "dsfsafsafdsafdsa fdsa dsafdsa dsfdsa fsadfsa fdsafd safdsaf sadfsaf sadsaf safdsa safdsf dsfd safdsaf safdsaf sdf safsad"

In [ ]:
s

In [ ]:
len(s)

In [ ]:
1 + 1

In [ ]:
"sudh" + " sudh "

In [ ]:
3* 10

In [ ]:
"sudh " * 10

In [ ]:
4/6

In [ ]:
"sudh" / 6

In [ ]:
b= True

In [ ]:
type(b)

In [ ]:
v = False

In [ ]:
type(v)

In [ ]:
True - True

In [ ]:
True - False

In [ ]:
True * True

In [ ]:
True /True

In [ ]:
True /False

In [ ]:
1/0

In [ ]:
import numpy as np

np.asanyarray([5,1])/0

In [ ]:
sudh = [1,2,3,4,5]

In [ ]:
a = 10

In [ ]:
l = ["sudh" ,45,54,454,5,4, 45.67,67,5+7j,"fsdf","fdsfsf" , [1,2,3,3,4]]

In [ ]:
type(l)

In [ ]:
l[0]

In [ ]:
l[100]

In [ ]:
l[-1]

In [ ]:
l[0:4]

In [ ]:
l

In [ ]:
l[::-1]

In [ ]:
l[5:0:1]

In [ ]:
l[5:10 :-1]

In [ ]:
l[-2:-5:1]

In [ ]:
l[-2:-5:-1]

In [ ]:
l

In [ ]:
l[0][::-1]

In [ ]:
l[-1][::-1]

In [ ]:
l[1][::-1]

In [ ]:
a = [1,2,3,4]

In [ ]:
a + list("sudh")

In [ ]:
"a" + ("sudh")

In [ ]:
a

In [ ]:
a*4

In [ ]:
list(range(10))

In [ ]:
list(range(4, 20))

In [ ]:
list(range(4 , 20 , 2))

In [ ]:
list(range(-3,-13 , 1))

In [ ]:
list(range(-3,-13 , -1))

In [ ]:
list(range(1,20))

In [ ]:
a = 10 
b = 20
a+b

In [ ]:
a = input("enter the value of a ")
b = int(input("enter value of b "))
print()

In [ ]:
a+b

In [ ]:
a = input()
b = input()
print(type(a))
type(b)

In [ ]:
a = 10 
b = 20 
c = "sudh"
d = [1,2,3,4]

In [ ]:
a,b,c,d = 12, 20,"sudh" , [1,2,3,4]

In [ ]:
a = (1,2,3,4 , "sudh" , "dsfds" , 45.7)

In [ ]:
l = [1,2,3,4,"sudh" , "dsfds" , 45.7]

In [ ]:
type(a)

In [ ]:
type(l)

In [ ]:
a[0:5]

In [ ]:
l[0:5]

In [ ]:
a[::-1]

In [ ]:
a

In [ ]:
l

In [ ]:
a

In [ ]:
l[0]  = "sudh"

In [ ]:
l

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[0] = "kumar"

In [ ]:
a

In [ ]:
a = (3,4,5,6)

In [ ]:
s = "kumar"

In [ ]:
s[0]

In [ ]:
s[0] = "h"

In [ ]:
a(::-1)

In [ ]:
a[::-1]

In [ ]:
s

In [ ]:
s[5:1]

# control statement

In [ ]:
a=10
if a :
    print("this a value of  a")

In [ ]:
a=10
if a < 20:
    print("my name is lalit")

In [ ]:
a<20

In [ ]:
a=10
if a < 20:

In [ ]:
a=10
if a < 20:
    pass

In [ ]:
a=int(input("enter a number"))
if a < 20:
        print("this a value of  a")
        

else: 
            print("this is value of b")

In [ ]:
a=int(input("enter a number = "))
if a > 20:
        print("this a value of  a")
if a==10:
        print("aljldjl jldjlk dllj")
elif type(a)==int:
        print("ya it is intiger")
elif a<20:
    print("print from elif")
else: 
        print("this is value of b")

In [ ]:
Discount = int(input("Enter Discount Amount : "))
if Discount<=50:
    print("Item in row no. 1 are available for user")
elif Discount ==60:
    print("item in row no. 2 are available for user ")
elif Discount== 70:
    print("Item in row no. 3 are available for user")
elif Discount >= 80:
    print("Item in row no. 4 are available for user")
else :
    print("No item is avalble for Discount")

In [ ]:
    Income = int(input())
    a = Income
    if a >=1000:
        print("you can get platinum card")
        if a ==2000:
            print("you can get train ticket")
            if a == 2200:
                print("you can get bus ticket")
            elif a != 2200:
                print("you can by auto")
            else :
                print("you can't watch movie in mall")
        elif a ==2500:
            print("you can get air port ticket")
        elif a == 3000:
            print ("you can get airoplane ticket")
        else:
            print("you can't get train ticket")
    if a > 5000:
        print("you can get cradit card")
    if a>8000:
        print("you can get golden card")
    else:
        print("you won't able to get any card")

In [ ]:
l =[1,2,3,4,55,66,77,849,977]

In [ ]:
for i in l:
    print(i)

In [ ]:
l =["lalit",[2,3,4,5] ,[1,54654,6464,464,8],6654,46.6546,True,5+66j, 'Birla',(1,2,3,4,5)]

In [ ]:
for i in l:
    print(l)

In [ ]:
for i in l:
    print(i)

In [ ]:
for i in l:
    if type(i) == str:
        print("string is :",i)

In [ ]:
 type(i) == list and type(i)==tuple

In [ ]:
s = "Lalit Birla"
for i in s:
    print(i +i+"1")

In [ ]:
t = (1,2,3,4,5,6,7)
for i in t:
    print(i)

In [ ]:
range(0,9)

In [ ]:
tuple(range(0,9))

In [ ]:
list(range(10))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in l:
    if type(i) == list or type(i)==tuple or type(i)==str:
        print("reverse oder:",i[::-1])

In [ ]:
for i in l:
    if type(i) == list and type(i)==tuple:
        print("reverse oder:",i[::-1])

In [ ]:
l

In [ ]:
for i in l:
  #  print(i)
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

In [ ]:
n =int(input())
k=n
for i in range(0,n):
    for j in range(0,k):
        print(end=" ")
        
    k=k-1
    for j in range(0,i+1):

        print("*",end=" ")
    print(" ")
for i in range(n,0,-1):
    for j in range(0,k+2):
        print(end=" ")
    for j in range(i-1):
        print("*",end =" ")
    k=k+1    
    print(" ")

In [ ]:
m = int(input())
k=3
for i in range(m,0,-1):
    for j in range(0,k):
        print(end=" ")
    for j in range(i-1):
        print("*",end = " ")
    k=k+1    
    print(" ")

In [ ]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print(" ")

for i in range(n,0,-1):
    for j in range(i-1):
        print("*", end=" ")
    print(" ")

In [ ]:
n=int(input())
for i in range(n,1):
    for j in range(i+1):
        print("*", end=" ")
    print(" ")

for i in range(n,0,-1):
    for j in range(i-1):
        print("*", end=" ")
    print(" ")

In [ ]:
L = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in L:
    for j in i:
    #    if L[j]==L[j+1]:
            print("repeatation of :" ,j+1)
            
            print(j, end=" ")
    print(i, end=" ")    
    print(" ")

In [ ]:
L = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in L:
    print(i)
    for j in i:
        j+1
        print(j)

In [ ]:
L=L = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in range(len(L)):
    print(L[i])
    for j in range(len(L[i])):
        print(L[i][j])
        j=j+1
        if L[i][j-1]==L[i][j]:
            print("value of j ",j)

In [ ]:
#while loop use when we do not know about ittration 
import random
n=20
to_be_guess=int(n*random.random()) +1
guess=0
while guess!=to_be_guess:
    guess = int(input("new number:"))
    if guess >0:
        if guess < to_be_guess:
            print("Number is too small")
        elif guess>to_be_guess:
            print("Number is too large")
    else:
        print("not mathced")
        break
else:
    print("congratulation, you have made it")

In [ ]:
num = int(input("enter a number: "))
fact=1
if num < 0:
    print("enter a positive number")
elif num==0:
    print("factorial : 1")
else:a
    for i in range(1,num+1):
        fact = fact*i
       # print("factorial :", fact)
print("factorial :", fact)    
print("Good bye")

In [ ]:
#nested while loop
print("Enter 4 digits pin")
pin = int(input())
restar='y'
chance=3
balance = 97.67
if pin == 1234:
    print("pin is correct")
    while restar not in  ('n','N','no','No'):
        print("option 1 chenk  balance :")
        print("option 2 withdraw balance :")
        print("option 3 add balance :")
        option = int(input("What would you like to choose?"))

        if option == 1:
            print("Your Balance is :", balance,'\n')
            restart = input("would you like to go back?")
            if restart in('n','N','no','No'):
                print("thank you")
                break
        elif option == 2:
            #option='y'
            withdraw = float(input("withdraw amount :"))
            if withdraw in [10,20,30, 40, 50, balance]:
                balance=balance-withdraw
                print("Your Balance is :", balance)
            
                restart = input("would you like to go back?")
                if restart in('n','N','no','No'):
                    print("thank you")
                    break
        elif option == 3:
            add = int(input("Add amount :"))
            balance=balance+add
            print("Your Balance is :", balance)
            restart = input("would you like to go back?")
            if restart in('n','N','no','No'):
                print("thank you")
                break
else:
    while chance > 0:
        print("incorrect pin")
        chance = chance-1
        pin =int(input("Enter coorect pin :"))
    print("no more tries")

In [ ]:
#pythogorus number
from math import sqrt
n = int(input("Max number? "))
for a in range(1,n+1):
    for b in range(a,n):
        c_square = a**2 + b**2
        c = int(sqrt(c_square))
        if (c_square - c**2)==0:
            print(a,b,c)

In [ ]:
travelling = input('Yes or No !')
while travelling =="yes":
    num = int(input("Number of people travelling :" ))
    for i in range(1,num+1):
        name = input("name:")
        age = int(input("Age :"))
        sex = input("male/Female :")
        print(name , age , sex)
    travelling = input("opps! forgete some one")

In [ ]:
l=[2,9,59,595,3,42,4,5,8,76]

In [ ]:
l.sort()

In [ ]:
l

In [ ]:
#linear searc
m= int(input("take your number :"))
for i in range(len(l)):
    if m == l[i]:
        print("position of number :",i)
        break
print("okk good bye")

In [ ]:
l=[2,9,59,595,3,42,4,5,8,76]
n=int(input("enter number :"))
while n in l:
    if n==l:
        print("position of number",i)
        break

# tuple and sets

In [ ]:
t=(1,2,3,4,5,6,"lalit","birla",45.45,4+9j)

In [ ]:
t

In [ ]:
t.index(6)

In [ ]:
t.count(5)

In [ ]:
t.count("lalit")

In [ ]:
s=set()

In [ ]:
s.add(1)

In [ ]:
s.add(2)

In [ ]:
s.add('lalit')

In [ ]:
s.add("sanu")

In [ ]:
s.add(2)

In [ ]:
s

In [ ]:
s={1,1,2,2,3,3,'lalit',34,55,3,45}

In [ ]:
s

In [ ]:
s.pop()

In [ ]:
s.remove(55)

In [ ]:
s

In [ ]:
s.add(55)

In [ ]:
s

In [ ]:
l=[11,22,33,11,22,33,44,55,66,44,33,33,44,55,66,77,88]

In [ ]:
set(l)

In [ ]:
l=[1,2,3,4,5,6,7,[22,33,44,55,66
                  ,7]]

In [ ]:
set(l)

In [ ]:
x=set()
for i in l:
    if type(i)==int:
            x.add(i)
    if type(i)==list:
        y= set(i)
        
u=set()
z=u.union(x,y)

In [ ]:
z

In [ ]:
z.discard(55)

In [ ]:
z

In [ ]:
z.discard(4987)

In [ ]:
z

In [ ]:
x={"lalit","inueron","sanu","machine","learning"}
y={"computer","deep","learning","inueron","computer vision"}

In [ ]:
x.difference(y)

In [ ]:
x.intersection(y)

In [ ]:
x.union(y)

In [ ]:
z

In [ ]:
z[0] # not support indexing operation bcz it does not store data in odered fasion

In [ ]:
for i in z:
    print(i)

In [ ]:
list(z) #cast set inot list now it can allow operation

In [ ]:
tuple(s)

# dictionary

In [ ]:
d= {}

In [ ]:
type(d)

In [ ]:
d={1,2,3}

In [ ]:
type(d)

In [ ]:
s={"key":"value"}

In [ ]:
type(s)

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu","k2":33,"k3":[1,2,3,4,5],6:(1,2,3,4,5)}

In [ ]:
s

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu", #:3454}

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu", [2,3,4]:3454}

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu", (1,2,3):3454}

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu",_:3454}

In [ ]:
_=3885 #  "_" underscore inplace variable

In [ ]:
type(_)

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu",_:3454,{1,2,3,4}:"ldkj"}

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu", 4:3454}

In [ ]:
s # result show that key must be uniqe, key take updated value, value can be dublicate but key always unique

In [ ]:
s1={5:"lalit",4:"birla","k1":"sanu", _:3454}

In [ ]:
s1

In [ ]:
s2={1:'lalit',2:'birla',3:['ddd','ML',"DL","OOPS","Exception handling"],4:'lalit'}

In [ ]:
s2

In [ ]:
s2[1]

In [ ]:
s2[2]

In [ ]:
s2[3]

In [ ]:
s2[4]

In [ ]:
s2[3][0]

In [ ]:
for i in s2[3]:
    print(i)

In [ ]:
s={5:"lalit",4:"birla","k1":"sanu",_:3454,(1,2,3,4):"ldkj"}

In [ ]:
s[(1,2,3,4)]

In [ ]:
s["k1"]

In [ ]:
#nested dictionary
s2={1:'lalit',2:'birla',3:['ddd','ML',"DL","OOPS","Exception handling"],4:'lalit',"k1":{1:"lalit",2:'bilra',3:"xyz"}}

In [ ]:
s2

In [ ]:
s2["k1"]

In [ ]:
s2["k1"][3]

In [ ]:
s2["k2"]="create new key"

In [ ]:
s2

In [ ]:
s2[1]="update key value"

In [ ]:
s2

In [ ]:
for i in s2: #print just key not value
    print(i)

In [ ]:
s2.keys()

In [ ]:
s2.values()

In [ ]:
s2.items() #fetch as tuple

In [ ]:
list(s2.keys())[5]

In [ ]:
s2

In [ ]:
for i in s2.keys():
    if type(s2[i])==dict:
        print(s2[i])

In [ ]:
d={1:1*2,2:2*2,3:3*2,4:4*2}

In [ ]:
d

In [ ]:
d={}
for i in range(0,11):
    d[i]=i**2
d

In [ ]:
[i in d[i]=i**2] for n range(0,11)

In [ ]:
{i:i**2 for i in range(11)} #output always in left site in comphresive operation

In [ ]:
s="inueron"

{i:"Inueron" for i in s}

In [ ]:
d={"inueron":{"a":23,'b':24,"c":56,"d":750},"course":{"d":55,"e":12}, "xyz":99,"a":[23,455,66,444,66,8667]}
l=[]
for i in d.keys():
        
        if  type(d[i])==dict :
            for j in d[i].keys():
                d[i][j]
         #   print(d[i][j])
                l.append(d[i][j])  
        if type(d[i])!=dict and type(d[i])!=list:
                l.append(d[i])
        if type(d[i])==list:
                l.append(d[i])

for i in l:
    print(i)
    if type(i)==list:
        print(i)

In [ ]:
d={"inueron":{"a":23,'b':24,"c":56,"d":750,"f":777},"course":{"d":55,"e":12},"a":900}
max=0
l=[]
for i in d.values():
  if type(i)==dict:
    for j in i.values():
        l.append(j)
  if type(i)!=dict:
        l.append(i)

l

In [ ]:
l=[1,2,33,4,5,[1,2,3,45,5],(1,2,3,66)]
max=0
for i in l:
    if max<i:
        max =i
    
print(max)

In [ ]:
l

In [ ]:
l={"inueron":{"a":23,'b':24,"c":56,"d":750,"f":777,"e":"lalit","g":{1,2,3,35464434},"h":(1,2,3,4,5,666)},"course":{"d":55,"e":12223},"a":100,"c":[22,33,44,55,9843] ,"d":(1,2,3,4,6,77777)}
max=0
for i in l.values():
  if type(i)==dict:
    for j in i.values():
      if  type(j)==int and max<j:
         max=j
        # print(j)
      elif type(j)==tuple:
        for k in j:
          if max<k:
            max=k
      else: 
        if  type(j)==set:
          for k in j:
            if  max<k:
              max=k
        #  print(j)
     #   print(max)
  elif type(i)==list:
     for j in i:
       if max<j:
         max=j
  elif type(i)==tuple:
    for j in i:
      if max<j:
        max=j
  else:
    if max<i:
      max=i

print(max)

# Functions

In [ ]:
def test ():
    pass

In [ ]:
test() # calling of function

In [ ]:
def test1():
    print("this is my first fun")

In [ ]:
test1()

In [ ]:
def lalit():
    print("this is my own func")

In [ ]:
lalit()

In [ ]:
def tst():
    print(1+2)

In [ ]:
tst()

In [ ]:
def tst2(a,b):
    print(a+b)

In [ ]:
tst2(4,6)

In [ ]:
tst2(10,40)

In [ ]:
tst2("lalit","birla")

In [ ]:
tst2(4,"sudh")

In [ ]:
tst([1,2,3],[4,5,6])

In [ ]:
def tst1(a,b):
    if type(a)!=str:
        print(str(a)+b)
    else:
            print(a+b)

In [ ]:
tst1(4,"lalit")

In [ ]:
tst1(5,"birla")+"kumar"

In [ ]:
type(tst1(5,"birla")) #print always give non type object so we cant able to perform aney kind opertion here so we use return

In [ ]:
#use return function instead of print
def test5(a,b):
    if type(a)!= str:
        return(str(a)+b)
    else:
        return a+b

In [ ]:
test5(4,"lalit")

In [ ]:
type(test5(4,"lalit"))

In [ ]:
test5(4,"lalit")+"birla"

In [ ]:
#try to return multiple entity at a time
def test6(a,b,c):
    return a+2, b+3,c+4,a+b+c

In [ ]:
test6(2,3,6) #output looks like tuple by default

In [ ]:
type(test6(2,3,6))

In [ ]:
a=10
b=4
c="lalit"
d=56.44

#atlernate way to write above varibles both are same
a,b,c,d=10,4,"sudh",56.45

In [ ]:
x,y,z,w=test6(2,3,6)

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
w

In [ ]:
_,_,_,b=test(2,3,6) #if i am intrested in 4th one opertion a+b+c

In [ ]:
b

In [ ]:
b**4

In [ ]:
_  # it gives return result of  z opertaion

In [ ]:
def test7(x,y):
    return x+y , x , x**4 , x*y

In [ ]:
test7(3,4)

In [ ]:
test7(3,4)[2]/3

In [ ]:
_,_,t,_=test7(3,4)

In [ ]:
t

In [ ]:
t/3

In [ ]:
def test8(b,v,c):
    d = b*v*c
    f= b+v+c+d
    return d,f

In [ ]:
test8(4,5,6)

In [ ]:
a,b=test8(4,5,6)

In [ ]:
a

In [ ]:
b

In [ ]:
l=["sundh",3,4,5,6,"kumar","a","b",56,45]
c=0
for i in l:
    if type(i)==str:
        c+=1
print(c)

In [ ]:
l1=["sundh",3,4,5,6,"kumar","a","b",56,45,"df","dfsf"]

In [ ]:
# lests create function for this because you can not write code again and again so we use fuction 
def test8(l1):  
    f=0
    for i in l1:
        if type(i)==str:
            f+=1
    return f 
    
 #use always return instead of print

In [ ]:
test8(l1)

In [ ]:
l1=["sundh",3,4,5,6,"kumar","a","b",56,45,"df","dfsf","dlj","dljl","dk;"]

In [ ]:
test8(l1)

In [ ]:
type(test8(l1))

In [ ]:
len() #here u can get hint using shift + tab but can fuction writen by you can give a hint

In [ ]:
# wirte fucntion with give hint using shift and tab
#use docstring for this
def test8(l1):
    """this is my function where it will try to return number of string var availble inside list"""
    f=0
    for i in l1:
        if type(i)==str:
            f+=1
    return f

In [ ]:
#now check using shift and tab
test8()

In [ ]:
def test9(b,c):
    return b,c

In [ ]:
test9(4) #pass only one error it gives a error

In [ ]:
# but define default value you will not get error
def test9(b,c=6):
    return b,c

In [ ]:
test9(4)

In [ ]:
def test9(b=10,c=6):
    return b,c

In [ ]:
test9(4) #it will overwrite previous value

In [ ]:
test9("lalit") #it also going to work

In [ ]:
test9("lalit","birla")

In [ ]:
test9(,"birla")

In [ ]:
_,v=test9(4) #only get value(default value) of c

In [ ]:
v

In [ ]:
def test10(a,b,c,n,v):
    return "this is my fun"

In [ ]:
test10(2,3,4,5,6)

In [ ]:
#to create a function that take n number of string and it should give me concatination of all string
def test11():
    t=""
    n = int(input())
    for i in range(0,n+1):
        m=input()
        for j in m:
            t+=j
            
    return t
        
        
        
    #return t

In [ ]:
test11()

In [ ]:
# *args (steric args) means try to passs any number of argument means fuction is able to any number of agrument 
# it is used when we try to provide bulk data
def test12(*args):
    return args

In [ ]:
test12(2,3,4,6)

In [ ]:
test12(3,"sudh")

In [ ]:
test12(4,5,6,6,7,"lalit","birla")

In [ ]:
#concatination of string type data
def test13(*args):
    con=" "
    for i in args:
        if type(i)==str:
            con = con+i
            

    return con

In [ ]:
test13(2,3,4,5,"lalit","birla","kumar",[3,5,6,6,6,7])

In [8]:
#args is not key word you can use any word isteat it 
def test14(*lalit):
    con=" "
    for i in lalit:
        if type(i)==str:
            con = con+i
            

    return con

In [9]:
test14(2,3,4,5,"lalit","birla","kumar",[3,5,6,6,6,7])

' lalitbirlakumar'

In [10]:
def test14(*args,a,b,c,d):
    return args, a,b,c,d

In [11]:
test14(3,4,5,6,7,8)

TypeError: test14() missing 4 required keyword-only arguments: 'a', 'b', 'c', and 'd'

In [13]:
#remove above error
test14(1,2,3,4,4,a=45,b=56,c=23,d=12)

((1, 2, 3, 4, 4), 45, 56, 23, 12)

In [14]:
#key word argument
#try to pass key value paired / dictionry

def test15(**kwargs):
    return kwargs

In [15]:
test15(34,56,67) #error bcz you not pass key value paired data

TypeError: test15() takes 0 positional arguments but 3 were given

In [16]:
test15(a=5,b=9,c=89,sudh=56, lalit=[1,2,3,4])

{'a': 5, 'b': 9, 'c': 89, 'sudh': 56, 'lalit': [1, 2, 3, 4]}

In [17]:
type(test15(a=5,b=9,c=89,sudh=56, lalit=[1,2,3,4]))

dict

# to create a fuction to take any number of key value paired then if value == list then give me number str value out of the list

In [1]:
def test16(**kwargs):
    x=0
    for i in kwargs.values():
        if type(i)==list:
            for j in i:
                if type(j)==str:
                    x+=1
    return x

In [2]:
test16(a=5,b=9,c=89,sudh=56, lalit=[1,2,3,4,"a","b","d"])

3

In [3]:
def test17(n):
    for i in range(1,n+1):
        for j in range(1,n+1):
            if i==j or j==n or i==1:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

In [4]:
test17(50)

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *                                                                                               *
    *                                                                                             *
      *                                                                                           *
        *                                                                                         *
          *                                                                                       *
            *                                                                                     *
              *                                                                                   *
                *                                                                                 *
                  *                                                                               *
                    *                                                                             *
                      *                                                                           *
                        *                                                                         *
                          *                                                                       *
                            *                                                                     *
                              *                                                                   *
                                *                                                                 *
                                  *                                                               *
                                    *                                                             *
                                      *                                                           *
                                        *                                                         *
                                          *                                                       *
                                            *                                                     *
                                              *                                                   *
                                                *                                                 *
                                                  *                                               *
                                                    *                                             *
                                                      *                                           *
                                                        *                                         *
                                                          *                                       *
                                                            *                                     *
                                                              *                                   *
                                                                *                                 *
                                                                  *                               *
                                                                    *                             *
                                                                      *                           *
                                                                        *                         *
                                                                          *                       *
                                                                            *                     *
                                                                              *                   *
                                                                                *                 *
                                                                                  *               *
                                                                                    *             *
                                                                                      *           *
                                                                                        *         *
                                                                                          *       *
                                                                                            *     *
                                                                                              *   *
                                                                                                * *
                                                                                                  *

# Error and exception handling

In [18]:
1/0
print("this is my programm")

ZeroDivisionError: division by zero

In [21]:
try :
    1/0
except Exception as e:
    print(e)
    print("this is my programm")

division by zero
this is my programm

In [22]:
try :
    1/0
except Exception as e: #Exceptin is super class
    print("this is my programm")

this is my programm

In [24]:
try :
    1/0
except Exception as e: #Exceptin is super class
    print("this is my programm")
try:
    print("3ouoijdf")
except:
    print("kjglkjfg")

this is my programm
3ouoijdf

In [25]:
open("text.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'text.txt'

In [26]:
pwd()#current directory

'C:\\Users\\SANU'

In [27]:
open("text.txt", 'w') #w is inddicate write mode

In [28]:
open("text.txt", 'r') #w is inddicate read mode

In [29]:
f=open("text.txt", 'r') #w is inddicate read mode
f.write("this is my file")

UnsupportedOperation: not writable

In [35]:
open("text.txt", 'w') #w is inddicate read mode
f.write("this is my file")

UnsupportedOperation: not writable

In [36]:
ls #check now

 Volume in drive C has no label.
 Volume Serial Number is 4295-7EA5

 Directory of C:\Users\SANU


 Directory of C:\Users\SANU

File Not Found

In [37]:
try:
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except Exception as e:
    print(e)

not writable

In [38]:
try:
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except ZeroDivisionError as e:
    print(e)
#give error bcz you do not know specific error here not writable error but you write zerdeverror so always write Exception

UnsupportedOperation: not writable

In [42]:
try:
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except IOError as e:
    print(e)

not writable

In [43]:
try:
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
    a=10/0 #it will run
except IOError as e:
    print(e)

not writable

In [49]:
#try always wirte multiple exception handling box 
try:
    a=10/0
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except IOError as e:
    print(e, "this is my except")
except ZeroDivisionError as e:
    print(e)

division by zero

In [50]:
try:
    a=10/0
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except IOError as e:
    print( "this is my except",e)
except ZeroDivisionError as e:
    print(e)

division by zero

In [51]:
try:
    a=10/0
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except IOError as e:
    print("this is my except")
except ZeroDivisionError as e:
    print(e)

division by zero

In [52]:
try:
    a=10/0
    f=open("text.txt", 'r') #w is inddicate read mode
    f.write("this is my file")
except Exception as e:
    print("this is exception",e)
except IOError as e:
    print("this is my except")
except ZeroDivisionError as e:
    print(e)

this is exception division by zero

In [54]:
try:
    a=10/0
    try:
        f=open("text.txt", 'r') #w is inddicate read mode
        f.write("this is my file")
    except:
        print("issure is here")
except Exception as e:
    print("this is exception",e)
except IOError as e:
    print("this is my except")
except ZeroDivisionError as e:
    print(e)

this is exception division by zero

In [55]:
try:
    a=10/3
    try:
        f=open("text.txt", 'r') #w is inddicate read mode
        f.write("this is my file")
    except:
        print("issure is here")
except Exception as e:
    print("this is exception",e)
except IOError as e:
    print("this is my except")
except ZeroDivisionError as e:
    print(e)

issure is here

In [57]:
try:
    a=10/3
    try:
        f=open("text.txt", 'r') #w is inddicate read mode
        f.write("this is my file")
    except:
        print("issure is here")
    else:
        print("this will excuted once internal try excuted successfuly")
except Exception as e:
    print("this is exception",e)
except IOError as e:
    print("this is my except")
except ZeroDivisionError as e:
    print(e)
else:
    print("this will excuted try excuted successfuly")

#if try excuted it self successfuly then else will excuted it self successfuly so it print "this will excuted try excuted successfuly" also

issure is here
this will excuted try excuted successfuly

In [64]:
try:
    a=10/0
    try:
        f=open("text.txt", 'r') #w is inddicate read mode
        f.write("this is my file")
    except:
        print("issure is here")
    else:
        print("this will excuted once internal try excuted successfuly")
except Exception as e:
    print("this is exception",e)
except IOError as e:
    print("this is my except")
except ZeroDivisionError as e:
    print(e)
else:
    print("this will excuted try excuted successfuly")
#here else will not excute bcz try is not successful excuted by it self.

this is exception division by zero

In [65]:
   a=int(input())
    print(67/a)

IndentationError: unexpected indent (<ipython-input-65-25d3d7a4cdc2>, line 2)

In [66]:
try:
    a=int(input())
    print(67/a)
except:
    print("this is my issue")
else:
    print("successful execution of your try block")

5
13.4
successful execution of your try block

In [67]:
try:
    a=int(input())
    print(67/a)
except:
    print("this is my issue")
else:
    print("successful execution of your try block")

hgkjgh
this is my issue

In [70]:
try:
    a=int(input())
    print(67/a)
except:
    print("this is my issue/can not type cast")
else:
    print("successful execution of your try block")
finally:
    print("it will excute always")

kdjh
this is my issue/can not type cast
it will excute always

In [71]:
try:
    a=int(input())
    print(67/a)
except:
    print("this is my issue/can not type cast")
else:
    print("successful execution of your try block")
finally:
    print("it will excute always")

55
1.2181818181818183
successful execution of your try block
it will excute always

In [73]:
def askint():
    try:
        val=int(input("try to input int "))
    except Exception as e:
        print(e)
    finally:
        print("this will excute by default")

In [74]:
askint()

try to input int dkdk
invalid literal for int() with base 10: 'dkdk'
this will excute by default

In [82]:
def askint():
    try:
        val=int(input("try to input int "))
           
    except Exception as e:
        askint()
        print(e)
    finally:
        print("this will excute by default")

In [83]:
askint()

try to input int sfd
try to input int dfdf
try to input int dfdfd
try to input int dfdf
try to input int dfdf
try to input int 34
this will excute by default
invalid literal for int() with base 10: 'dfdf'
this will excute by default
invalid literal for int() with base 10: 'dfdf'
this will excute by default
invalid literal for int() with base 10: 'dfdfd'
this will excute by default
invalid literal for int() with base 10: 'dfdf'
this will excute by default
invalid literal for int() with base 10: 'sfd'
this will excute by default

In [86]:
def askint():
    try:
        val=int(input("try to input int "))      
    except Exception as e:
        askint()

In [87]:
askint()

try to input int lkjf
try to input int dlkjd
try to input int dlj
try to input int 3

In [88]:
def askint():
    try:
        val=int(input("try to input int "))      
    except Exception as e:
        askint()
    finally:
        print("this is my final")

In [89]:
askint()

try to input int dhjfd
try to input int dlhd
try to input int dlkhdf
try to input int dlkhd
try to input int 55
this is my final
this is my final
this is my final
this is my final
this is my final

In [98]:
def askint():
    while True:
        try:
            val=int(input("try to input int "))
        except Exception as e:
            print(e)
            continue
        else:
            break
        finally:
            print("this will excute by default")
        val/10

In [99]:
askint()

try to input int dfdf
invalid literal for int() with base 10: 'dfdf'
this will excute by default
try to input int 34
this will excute by default

In [100]:
def askint():
    while True:
        try:
            val=int(input("try to input int "))
        except Exception as e:
            print(e)
            #continue
        else:
            break
        finally:
            print("this will excute by default")
        val/10

In [101]:
askint()

try to input int dfdf
invalid literal for int() with base 10: 'dfdf'
this will excute by default

UnboundLocalError: local variable 'val' referenced before assignment

In [102]:
5/10

0.5


# i would like to generate a error here bcz i do not want enter 5 or less than 5 by my user then how it will do

# how to creat my own exception

In [25]:
def raiseexception(a):
    if a<5:
        raise Exception("this is my exception/cust msg",a)
    return a

In [26]:
raiseexception(7)

7

In [115]:
raiseexception(4)

Exception: ('this is my exception/cust msg', 4)

In [123]:
try:
    raiseexception(4)
except Exception as e:
    print(e)

('this is my exception/cust msg', 4)

# TASK
wirte a program to inset int into list and if user has entered lesser than 4 
then raise your own exception with custome msg and if user is not enter intiger
thwn kepp asking user to inter int all the time.
you are suppose to enter 10 such int with this condition

# Try to sovle task or problem step by step here first create a list and append a int number than write if a<4  loop then raise a exception and handle this exception

In [82]:
def lalitraisedExcep():
    l=[]
    while len(l)<10:
        try:
            a = int(input())
            if a<4 or type(a)!=int:
                raise Exception ("This is exception",a)
        except Exception as e:
            print("Please enter a value more than or equal to 4",e)
            print("length of list",len(l))    
        else:
            l.append(a)
            print("length of list",len(l))
           
    return l

In [83]:
lalitraisedExcep()

xdfdd
Please enter a value more than or equal to 4 invalid literal for int() with base 10: 'xdfdd'
length of list 0
sfsdfsd
Please enter a value more than or equal to 4 invalid literal for int() with base 10: 'sfsdfsd'
length of list 0
1
Please enter a value more than or equal to 4 ('This is exception', 1)
length of list 0
2
Please enter a value more than or equal to 4 ('This is exception', 2)
length of list 0
7
length of list 1
6
length of list 2
3
Please enter a value more than or equal to 4 ('This is exception', 3)
length of list 2
8
length of list 3
9
length of list 4
10
length of list 5
11
length of list 6
3
Please enter a value more than or equal to 4 ('This is exception', 3)
length of list 6
14
length of list 7
16
length of list 8
17
length of list 9
18
length of list 10

[7, 6, 8, 9, 10, 11, 14, 16, 17, 18]

# def lalitexception():
    l=[]
    try:
        for i in range(10):
            a=int(input())
            if a<4 or type(a)!=int:
                raise Exception ("please enter int having value greater or equal to 4",a)
            else:
                 l.append(a)
    except Exception as e:
        print(e)
        lalitexception()
    else:+
        l.append(a)
    return l

In [73]:
lalitexception()

dfdsd
invalid literal for int() with base 10: 'dfdsd'
fasdf
invalid literal for int() with base 10: 'fasdf'
dfsd
invalid literal for int() with base 10: 'dfsd'
1
('please enter int having value greater or equal to 4', 1)
2
('please enter int having value greater or equal to 4', 2)
3
('please enter int having value greater or equal to 4', 3)
4
55
55
55
55
55
88
999
33
66

[]